:root{
    /* CSS HEX */
    --ivory: #f6f7ebff;
    --cinnabar: #e94f37ff;
    --onyx: #121619ff;
    --steel-blue: #3f88c5ff;
    --keppel: #44bba4ff;
    --keppel_transparent: #44bba466;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


img{
    width: 100%;
    height: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--onyx);
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    position: relative;
    color: var(--ivory);
    max-width: 100px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
    filter:drop-shadow(30 10 5px black);
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    color: var(--ivory);
    font-size: 1rem;
    font-weight: 500;

}

.link a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--keppel);
    transition: all 0.3s ease;
}


.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 0.5rem 1rem;
    background-color: var(--keppel);
    color: var(--ivory);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: var(--cinnabar);
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position:absolute;
    box-shadow: 0 0 1000px 50px var(--keppel);
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    color: var(--ivory);
}

header .content h4{
    margin-bottom: 1rem;
    color: var(--keppel);
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 3rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 1px var(--cinnabar); */
    -webkit-text-stroke: 1px var(--keppel);

}

header .content p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

header img{
    position:relative;

}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--ivory);
    font-size: 2.25rem;
    font-weight: 600;
}

.projects{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.projects .card{
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    max-width: 300px;
    max-height: 500px;
  
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    
}

.projects .card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--onyx);
    border-radius: 18px;
    transition: all 0.3s ease;
    z-index: -1;
}


.projects .card:hover::before{
    background: var(--keppel);
    animation: hueChange 15s linear infinite;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    box-shadow: 0 0 10px 5px black;
}

.projects .card:hover h4, .projects .card:hover p{
    color: black;
}

.projects .card:hover h4 {
    text-shadow: 0 0 5px black;
}

.projects .card:hover img {
    filter: drop-shadow(0 0 5px black);
}

.projects .card .card-image{
    position: relative;
}

.projects .card .card-image img{
    padding: 1rem;
    max-width: 100%;
    max-height: auto;
}

.projects .card h4{
    color: var(--ivory);
}

.projects .card p{
    color: var(--ivory);
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
}

.founders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

#founders p {
    text-align: center;
    color: var(--ivory);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;

}

.card-group {
    margin: 0 15rem 0 15rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-big-card {
    position: absolute;
    max-width: 350px;
    max-height: 490px;
    padding: 3rem;
    border-radius: 15px;
    aspect-ratio: 5/7;
    transition: all 0.3s cubic-bezier(.17,.67,.11,.96);
}

.profile-big-card:nth-child(1) {
    transform: translateX(-9%) rotate(-5deg);
}
.profile-big-card:nth-child(3) {
    transform: translateX(9%) rotate(5deg);
}

.card-group:hover > .profile-big-card:nth-child(1) {
    transform: translate(-40%, 5%) rotate(-40deg);
}

.card-group:hover > .profile-big-card:nth-child(2) {
    transform: translate(0, -5%) rotate(0deg);
}

.card-group:hover > .profile-big-card:nth-child(3) {
    transform: translate(40%, 5%) rotate(40deg);
}


#future section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

#future p {
    color: var(--ivory);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.containerFuture {
    display: grid;
    place-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem 10rem 2rem;
}

.future-container {
    display: grid;
    row-gap: 3.5rem;
}

.future-card-article {
    position: relative;
    overflow: hidden;
}

.future-card-image {
    width: 800px;
    height: 600px;

    border-radius: 1.5rem;
}

.future-card-data {
    width: 280px;
    background-color: var(--ivory);
    padding: 1.5rem 2rem;
    filter: drop-shadow(0 0 10px black);
    border-radius: 1rem;
    position: absolute;
    bottom: -20rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

    display: flex;
    flex-direction: column;
} 

.future-card-description {
    display: block;
    font-size: .75rem;
    text-align: center;
    color: var(--onyx);
}

.future-card-title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--onyx);
    text-shadow: 0 0 5px black;
}

.future-card-button {
    text-align: center;
    padding: .5rem 1rem;
    background-color: var(--cinnabar);
    color: var(--ivory);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem 0 0 0;
}

.future-card-button:hover {
    background-color: var(--onyx);
    filter: drop-shadow(0 0 5px black);
    transform: translateY(-5px);
}

.future-card-article:hover .future-card-data {
    animation: showData 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

.future-card-article:hover {
    animation: removeOverflow 2s forwards;
}

.future-card-article:not(:hover) {
    animation: showOverflow 1.5s forwards;
}

.future-card-article:not(:hover) .future-card-data {
    animation: removeData 1s forwards;
}

@keyframes showData {
    50% {
        transform: translateY(-21rem);
    }

    100% {
        transform: translateY(-15rem);
    }
}

@keyframes removeOverflow {
    to {
        overflow: initial;
    }
}


@keyframes removeData {
    0% {
        transform: translateY(-15rem);
    }

    50% {
        transform: translateY(-21rem);
    }

    100% {
        transform: translateY(1rem);
    }
}

@keyframes showOverflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
        pointer-events: none;
    }
}

@keyframes hueChange {
    50% {
        filter: hue-rotate(350deg);
    }
}

@keyframes glareEffect {
    from {
        opacity: 50%;
        transform: translateY(-100%)
    }

    to {
        opacity: 50%;
        transform: translateY(100%)
    }
}
